<!-- Se utiliza "nav" para crear barras de navegación -->

    <!-- Elementos link clickeables -->
    <!-- <a href="/products">Products</a> 
    Mejor utilizar routerLink para no refrescar toda la página al 
    momento de la navegación -->

    <!-- routerLinkActive se usa para conocer que ventana está activa 
    dentro del nav -->
    <mat-toolbar>
        <mat-toolbar-row>
            <div class="row between-xs middle-xs header-row">
                <nav>
                    <a mat-button routerLink="/home" routerLinkActive="active">Home</a>
                    <a mat-button routerLink="/products" routerLinkActive="active">Products</a>
                    <a mat-button routerLink="/contact" routerLinkActive="active">Contact</a>
                    <a mat-raised-button color="warn" routerLink="/user" routerLinkActive="active" class= "align">Ingrese</a>
                </nav>
                    <a mat-raised-button routerLink="/order" [matBadge]="total$ | async" matBadgeColor="warn">
                        <mat-icon>add_shopping_cart</mat-icon>
                        Carrito </a>
                
            </div>
        </mat-toolbar-row>
         </mat-toolbar>