<!-- Se utiliza "nav" para crear barras de navegación -->
<nav>
    <!-- Elementos link clickeables -->
    <!-- <a href="/products">Products</a> 
    Mejor utilizar routerLink para no refrescar toda la página al 
    momento de la navegación -->

    <!-- routerLinkActive se usa para conocer que ventana está activa 
    dentro del nav -->
    <a routerLink="/home" routerLinkActive="active">Home</a>
    <a routerLink="/products" routerLinkActive="active">Products</a>
    <a routerLink="/contact" routerLinkActive="active">Contact</a>

</nav>